


<div >
    <img src="../assets/img/26.png" class="d-block w-100 AA "  alt="...">
  </div>



<div class="ra">
    <h1 class="ge">Apport supplémentaire d'oxygène
    </h1>
        <h2 class="ga">Le retour de votre énergie!
        </h2>


    <p class="text"><span>Un des premiers éléments observés lorsque les gens font des plongées en chambre hyperbare, c’est l’augmentation de leur niveau d’énergie. En effet, tous nos clients rapportent être rapidement plus en mesure de faire face à leurs journées. Les plus sensibles à l’apport supplémentaire en oxygène en ressentent les effets immédiatement et reçoivent une hausse d’énergie semblable à prendre un café. Les enfants sont généralement plus réceptifs pour les apprentissages et ont moins besoin de dormir. </span></p>
</div>
<div class="a">
    <img src="../assets/img/energie.jpg" width="100%" height="100%" class="a" alt="" >
</div>


  
<div class="ra">
    <h1 class="ge">Des résultats </h1>
       


    <p class="text"><span>Également, l’oxygénothérapie hyperbare permet d’améliorer la qualité du sommeil tant chez les enfants que chez les adultes. Imaginez les bienfaits que l’appareil procure pour le parent qui accompagne son enfant à besoins particuliers! Nous faisons souvent d’une pierre deux coups!
        Il y a aussi de nombreux enfants qui avaient des nuits mouvementées qui retrouve instantanément un sommeil profond dès le début des séances.
        En prime, le fait d’avoir un sommeil réparateur permet d’être mieux disposé à faire face à la vie quotidienne. Certaines personnes remarquent une diminution de leur anxiété potentiellement dû à une meilleure hygiène du sommeil.</span></p>
</div>
    





    
    <div >
        <h1 class="xa">Planification de votre parcours HBOT</h1>
        <p class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 </p>
        <p  class="xi">Étape 2 - Venez pour votre première séance et évaluation</p>     
      </div>

