


      <div class="AA">

        <img src="../assets/img/p12.png" width="100%" height="100%" alt="">
      
  </div>
         
    <div class="bri">

        <h1 class="p1"><span class="r1"><b>Une expérience unique!</b></span></h1><br>
<p class="p2"><span class="s1">Le Centre hyperbare Boreal Forest offre une occasion unique de vivre l’expérience des séances en chambres hyperbares portatives dans un environnement zen-moderne des plus sécuritaires.  Nous avons deux chambres hyperbares flexibles afin d’aider diverses clientèles à améliorer leur qualité de vie et ainsi réaliser de grandes victoires.  OxyForest ouvrira son tout nouveau centre pouvant accueillir dorénavant 3 salles d’oxygénothérapie hyperbare flexible ainsi qu’une salle de montre faisant le plus important établissement de chambres hyperbares portatives au Québec.<br /></span></p>
<p class="p3"><span ><b>Déroulement des séances en chambre hyperbare</b></span></p>
<p class="p2"><span class="s1">Les séances ou « plongées » ont une durée totale de 60 a 90 minutes en chambre hyperbare incluant le temps de pressurisation et de dépressurisation de l’appareil. Vous serez assisté par notre équipe spécialisée et plusieurs commodités vous seront offertes afin de favoriser votre confort.</span></p>
<p>À l’intérieur de l’appareil, il est possible d’écouter des films ou vidéos, vous pouvez apporter votre ordinateur ou tablette personnelle, faire de la lecture ou tout simplement prendre un temps pour vous reposer.</p>
<p class="p2"><span class="s1">L’oxygénothérapie hyperbare portative consiste à placer un ou des individus dans un endroit hermétique dans lequel la pression de l’air est augmentée par le biais d’un compresseur. Il est aussi possible d’augmenter la concentration en oxygène à l’aide d’un concentrateur.</span></p>
<p class="p2"><span class="s1">L’augmentation de la pression permet de « forcer » l’oxygène à pénétrer dans les liquides corporels tels que le plasma sanguin, le liquide lymphatique et le liquide céphalorachidien. Ceci permet donc d’oxygéner des parties du corps qui ne reçoivent pas d’oxygène par le simple processus de la respiration.</span></p>
<h3 class="X"><strong >Des forfaits adaptés à vos besoins</strong></h3>
<p>Différents forfaits sont disponibles et vous seront proposés selon les résultats souhaités. Il est possible de se procurer une séance unique en chambre hyperbare flexible mais il est généralement recommandé de faire une série de plongées pour maximiser les bienfaits. Nous avons donc développé des forfaits vous permettant de profiter au maximum de vos séances.</p>
<p><span>L’augmentation de la pression permet donc de « forcer » l’oxygène à pénétrer dans les liquides corporels tels que le plasma sanguin, le liquide lymphatique et le liquide encéphalorachidien dans le cerveau. Ceci permet donc d’oxygéner des parties du corps qui ne reçoivent pas d’oxygène par le simple processus de la respiration</span></p>
<h3 class="X"><strong >L’Oxygénothérapie hyperbare portative à la portée de tous</strong></h3>
<p>Les sessions en chambre hyperbare flexible sont efficaces principalement pour les états suivants :</p>
<ul>
<li>Amélioration des capacités cognitives</li>
<li>Enfants et adultes neuro atypiques</li>
<li>Limitations motrices</li>
<li>Gestion de la douleur</li>
<li>Inflammation</li>
<li>Problématiques associées au langage et à la parole</li>
<li>Amélioration du niveau d’énergie / qualité du sommeil</li>
<li>Amélioration de la performance sportive</li>
</ul>
<p>N’hésitez pas à nous contacter si vous souhaitez savoir comment nous pouvons vous aider! Il nous fera plaisir de vous fournir la documentation ainsi que les informations nécessaires à votre réflexion!</p>
<p>Veuillez noter que le contenu de notre site internet est publié de façon intègre afin de rendre l’information accessible gratuitement à nos utilisateurs. Nous ne sommes toutefois pas des médecins ou autres professionnels de la santé et ne prétendons pas l’être. Ainsi, il nous est impossible de vous fournir un diagnostique sur votre condition de santé ou vous proposer un plan de traitement. L’information partagée sur ce site web est à titre informatif et ne remplace pas une consultation professionnelle.</p>
<p>Si des témoignages ou affirmations démontrant une amélioration de l’état de santé sont rapportés sur l’une de nos pages, vous devriez assumer que ces résultats ne sont généralement pas approuvés scientifiquement et ne représentent pas un diagnostique médical.</p>
<br /><br /><br />
    </div>

    <div >
      <h1 class="xa">Planification de votre parcours HBOT</h1>
      <p  class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 pour planifier votre première session.</p>
   
      <p class="xi"> Étape 2 - Commencez votre parcours de guérison hyperbare.</p>
    </div>

