 
   
   
   
   
 <nav class="navbar    navbar-expand-md  back  "  >
  <div class="container-fluid ">
    <a class="navbar-brand " routerLink="/accueil" > <img src="../assets/img/logo.png" class="mg" ></a>
    <div class="offcanvas-body"> 
      
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" style="margin-right: 10%; margin-top:10% ;">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end tx " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header back">
        <a class="navbar-brand " routerLink="/accueil" > <img src="../assets/img/logo.png" class="mg" ></a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div> 
      <div class="offcanvas-body back">
        <ul class="navbar-nav  justify-content-end flex-grow-1 pe-3 ">
          <li class="nav-item ">
            <a class="nav-link active "  aria-current="page" data-bs-dismiss="offcanvas" routerLink="/accueil"  >Accueil</a>
          </li>
      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle "  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Qui somme-nous
            </a>
            <ul class="dropdown-menu back ">
              <li><a class="dropdown-item" routerLink="/BorealForest" data-bs-dismiss="offcanvas">BorealForest®</a></li>
              <li><a class="dropdown-item" routerLink="/lexpeience" data-bs-dismiss="offcanvas">L'éxperience</a></li>
              <li><a class="dropdown-item" routerLink="/conferences" data-bs-dismiss="offcanvas">Conférences</a></li>
             
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/seance">séances</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Conditions communes

            </a>
            <ul class="dropdown-menu back">
              <li><a class="dropdown-item" routerLink="/principe-de-base" data-bs-dismiss="offcanvas">Principe de base</a></li>
              <li><a class="dropdown-item" routerLink="/devloppement-moteur" data-bs-dismiss="offcanvas">Dévloppement moteur</a></li>
              <li><a class="dropdown-item" routerLink="/les-capacite-congnitives" data-bs-dismiss="offcanvas">Les capacite congnitives</a></li>
              <li><a class="dropdown-item" routerLink="/devloppement-de-parole" data-bs-dismiss="offcanvas">Dévloppement de parole</a></li>
              <li><a class="dropdown-item" routerLink="/la-gestion-de-la-douleur" data-bs-dismiss="offcanvas">La gestion de la douleur</a></li>
              <li><a class="dropdown-item" routerLink="/sommeil-energie" data-bs-dismiss="offcanvas">Sommeil/énergie</a></li>
              <li><a class="dropdown-item" routerLink="/concussion" data-bs-dismiss="offcanvas">concussion</a></li>
              <li><a class="dropdown-item" routerLink="/Recuperation_chirurgicale" data-bs-dismiss="offcanvas">Récupération chirurgicale</a></li>
              <li><a class="dropdown-item" routerLink="/surdite_brusque" data-bs-dismiss="offcanvas">surdité brusque</a></li>
              <li><a class="dropdown-item" routerLink="/douleur_chronique" data-bs-dismiss="offcanvas">La douleur chronique</a></li>
              <li><a class="dropdown-item" routerLink="/fertilité" data-bs-dismiss="offcanvas">La fertilité</a></li>
              <li><a class="dropdown-item" routerLink="/migraines" data-bs-dismiss="offcanvas">Migraines</a></li>
              <li><a class="dropdown-item" routerLink="/covid_19" data-bs-dismiss="offcanvas">covid 19</a></li>
              <li><a class="dropdown-item" routerLink="/autistes" data-bs-dismiss="offcanvas"> les enfants autistes</a></li>
              <li><a class="dropdown-item"  routerLink="/beauty" data-bs-dismiss="offcanvas"> la beauté et l'anti-age</a></li>
              <li><a class="dropdown-item"  routerLink="/cerveau " data-bs-dismiss="offcanvas"> les soins du cerveau</a></li>
              <li><a class="dropdown-item" routerLink="/sportive" data-bs-dismiss="offcanvas">  la récupération sportive</a></li>
              <li><a class="dropdown-item" routerLink="/diabete" data-bs-dismiss="offcanvas">  le diabète</a></li>










             
              
            </ul>
            
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/espace-de-vente" data-bs-dismiss="offcanvas">Espace de ventes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog" data-bs-dismiss="offcanvas">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-nous" data-bs-dismiss="offcanvas">Contactez nous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/connecte" data-bs-dismiss="offcanvas">rendez-vous</a>
          </li>
        </ul>
       
      </div>
    </div>
  </div>
</nav>

