 
   
   
   
   
 <nav class="navbar    navbar-expand-md  back  "  >
  <div class="container-fluid ">
    <a class="navbar-brand " routerLink="/accueil" > <img src="../assets/img/logo.png" class="mg" ></a>
    <div class="offcanvas-body"> 
      
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end tx " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header back">
        <a class="navbar-brand " routerLink="/accueil" > <img src="../assets/img/logo.png" class="mg" ></a>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div> 
      <div class="offcanvas-body back">
        <ul class="navbar-nav  justify-content-end flex-grow-1 pe-3 ">
          <li class="nav-item ">
            <a class="nav-link active " aria-current="page" routerLink="/accueil">Accueil</a>
          </li>
      
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle "  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Qui somme-nous
            </a>
            <ul class="dropdown-menu back ">
              <li><a class="dropdown-item" routerLink="/BorealForest">BorealForest®</a></li>
              <li><a class="dropdown-item" routerLink="/lexpeience">L'éxperience</a></li>
              <li><a class="dropdown-item" routerLink="/conferences">Conférences</a></li>
             
              
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link"routerLink="/seance">séances</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"  role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Conditions communes

            </a>
            <ul class="dropdown-menu back">
              <li><a class="dropdown-item" routerLink="/principe-de-base">Principe de base</a></li>
              <li><a class="dropdown-item" routerLink="/devloppement-moteur">Dévloppement moteur</a></li>
              <li><a class="dropdown-item" routerLink="/les-capacite-congnitives">Les capacite congnitives</a></li>
              <li><a class="dropdown-item" routerLink="/devloppement-de-parole">Dévloppement de parole</a></li>
              <li><a class="dropdown-item" routerLink="/la-gestion-de-la-douleur">La gestion de la douleur</a></li>
              <li><a class="dropdown-item" routerLink="/sommeil-energie">Sommeil/énergie</a></li>
              <li><a class="dropdown-item" routerLink="/concussion">concussion</a></li>
              <li><a class="dropdown-item" routerLink="/Recuperation_chirurgicale">Récupération chirurgicale</a></li>
              <li><a class="dropdown-item" routerLink="/surdite_brusque">surdité brusque</a></li>
              <li><a class="dropdown-item" routerLink="/douleur_chronique">La douleur chronique</a></li>
              <li><a class="dropdown-item" routerLink="/fertilité">La fertilité</a></li>
              <li><a class="dropdown-item" routerLink="/migraines">Migraines</a></li>
              <li><a class="dropdown-item" routerLink="/covid_19">covid 19</a></li>
              <li><a class="dropdown-item" routerLink="/autistes"> les enfants autistes</a></li>
              <li><a class="dropdown-item"  routerLink="/beauty"> la beauté et l'anti-age</a></li>
              <li><a class="dropdown-item"  routerLink="/cerveau " > les soins du cerveau</a></li>
              <li><a class="dropdown-item" routerLink="/sportive" >  la récupération sportive</a></li>
              <li><a class="dropdown-item" routerLink="/diabete" >  le diabète</a></li>










             
              
            </ul>
            
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/espace-de-vente">Espace de ventes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-nous">Contactez nous</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/connecte">rendez-vous</a>
          </li>
        </ul>
       
      </div>
    </div>
  </div>
</nav>
