

<div class="AA">

  <img src="../assets/img/p13.png" width="100%" height="100%" alt="">

</div>
<div class="bri aa"><blockquote>
  <h1 class="p1"><span class="r1"><b>Vous informer c’est aussi notre mission!</b></span></h1><br>
   
    </blockquote>
    <p class="aa">Nous sommes constamment à l’affût des plus récentes études en ce qui concerne les sessions en chambre hyperbare portative. Notre équipe se donne comme devoir de transmettre une information juste et tient à faire connaître les bienfaits de l’oxygénothérapie hyperbare à la population québécoise. C’est pourquoi nous avons préparé de nombreuses conférences pouvant répondre à différents types de besoins d’information.</p>
    <p>Vous organisez un événement ayant pour thème la santé? Vous êtes membre d’une association pour personnes vivant avec des limitations et vous aimeriez en apprendre davantage sur les chambres hyperbares portatives? N’hésitez pas à nous contacter et il nous fera plaisir de préparer une animation dynamique et claire.</p>
    <p class="a"><strong>Voici un aperçu des conférences disponibles:</strong></p>
    <ul class="x">
    <li>Comment fonctionnent les chambres hyperbares et leurs bienfaits?</li>
    <li>La chambre hyperbare, un allié des sportifs</li>
    <li>Un vent d’espoir pour les gens vivant avec des limitations neurologiques et motrices</li>
    <li>La chambre hyperbare, un traitement efficace pour les personnes neuro-atypiques</li>
    <li>L’oxygénothérapie hyperbare, un souffle d’énergie pour les états de fatigue</li>
    </ul></div>

    <div >
      <h1 class="xa">Planification de votre parcours HBOT</h1>
      <p  class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 pour planifier votre première session.</p>
   
      <p class="xi"> Étape 2 - Commencez votre parcours de guérison hyperbare.</p>
    </div>


    
