


<div >
    <img src="../assets/img/ch1.png" class="d-block w-100 AA "  alt="..." >
  </div>

  <div class="ra">
    <h1 class="ge">Migraines et OHB</h1>
    <p class="text">Les migraines peuvent faire dérailler une journée en quelques minutes. Inéluctable et paralysante, une migraine vous prive de temps de travail, de temps de jeu, de temps en famille et de votre temps. Ne pas savoir combien de temps durera une migraine - ou quels symptômes vont frapper - signifie faire face à une forte dose d'incertitude en plus de la douleur. Vous pouvez récupérer votre corps, votre esprit et votre temps en utilisant l'oxygénothérapie hyperbare dans le cadre de votre plan de guérison et de prévention de la migraine.</p>

    </div>

    <div class="row featurette">
        <div class="col-md-7">
          <h2 class="ga">Qu'est-ce qu'une migraine ? </h2>
          <p class="g" >● Céphalée lancinante ou pulsatile sévère, généralement d'un côté de la tête.</p>
          <p class="g">● Peut durer de quatre heures à trois jours.</p>
          <p class="g">● Peut être débilitant et interférer avec la vie quotidienne.</p>
          <h2 class="ga">Quels sont les symptômes d'une migraine ?</h2>
          <p class="g" >● Céphalée lancinante ou pulsatile.</p>
          <p class="g">● Nausées et/ou vomissements</p>
          <p class="g">● Sensibilité extrême à la lumière et/ou au son.</p>
          <p class="g">● Peut être précédé d'une aura .</p>



        </div>
        <div class="col-md-5">
            <img src="../assets/img/2.png " class="a" alt=""  width="60%" height="60%">
        </div>
      </div>

      <div>
        <h1 class="ge">Comment l'OHB aide-t-elle les migraines ?</h1>
        <p class="gx">● Certaines migraines sont causées par des vaisseaux sanguins dilatés. L'OHB permet la vasoconstriction (rétrécissement des vaisseaux sanguins), ce qui soulage ces migraines.</p>
        <p class="gx">● Une étude a montré que 90 % des personnes souffrant de migraine ont bénéficié d'un soulagement immédiat des maux de tête grâce à l'OHB, contre 10 % du groupe témoin.</p>
        <p class="gx">● L'inflammation est théorisée comme étant une cause de migraines ; l'hyper-oxygénation du sang réduit l'inflammation cérébrale.</p>
        <p class="gx">● Favorise la croissance de nouveaux vaisseaux sanguins et augmente le flux sanguin vers les zones endommagées du corps.</p>
      </div>

      <div >
        <h1 class="xa">Planification de votre parcours HBOT</h1>
        <p  class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 pour nous parler de la réservation. </p>
     
        <p class="xi">Étape 2 - Venez pour votre première session</p>
      </div>
