.mg{
    width: 180px;
    height: 120px;
}

.text{
    font-size: 18px;
    font-family: "Georgia";
    padding-left: 10%;
    padding-right: 10%;

}
.ge{
    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 4%;
    font-size: 40px;
    padding-left: 10%;


}
.ga{
    padding-left: 10%;
    color: #7a9bc9 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding-top: 25px; */
    font-size: 25px;
}
.a{
    padding-top: 2%;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
 }
 .AA{
    padding-left: 10%;
    display: block;
    margin: 0 auto;
    padding-right: 10%;
    padding-top: 5%;
}
.tex{
    font-size: 18px;
    font-family: "Georgia";
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 5%;

}

.xa{
    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding-top: 6%;

}
.xi{
    font-family: "Georgia";
    font-size: 18px;
    text-align: center;





}
.te{
    font-size: 18px;
    font-family: "Georgia";
    padding-left: 10%;

}
.a{
    padding-top: 2%;
    text-align: center;
 }
 @media only screen and (max-width:500px) {
    .g{
        font-size: 150%;
    }
    .gw{
        font-size: 150%;
    }

    .ge{
     font-size:150% ;
     padding-right: 10%;

     }
    
     .te {
      font-size: 100%;
      padding-right: 10%;

     
     
     
       }  
       .gx{
        font-size:150% ;
        padding-left: 10%;
        }
        .go{
            font-size:100% ;
            padding-left: 10%;
            padding-right: 10%;

            }
            .a{
                font-size: 100%;
                padding-left: 5%;
        
            
              }
              .y{
                font-size:150% ;
                padding-left: 10%;
                padding-right: 10%;


                }      
                .r{
                    font-size:120% ;
                    padding-left: 10%;
                    padding-right: 10%;

    
                    } 
                    .mm{
                        font-size:150% ;
                        padding-left: 10%;
                        padding-right: 10%;

        
                        } 
                        .m{
                            font-size:100% ;
                            padding-left: 10%;
                            padding-right: 10%;
            
                            }
                            .xi{
                                padding-right: 8%;
                                padding-left: 8%;

                            }
                            .xa{
                                font-size: 150%;
                            }
                            .xx{
                                width: 100%;
                                padding-left: 6%;
                                padding-right: 6%;
                            }

    }  