
<div >
    <img src="../assets/img/25.png" class="d-block w-100 AA "  alt="...">
  </div>



<div class="ra">
    <h1 class="ge">La Gestion de la douleur    </h1>
        <h2 class="ga">Pour une meilleure qualité de vie

        </h2>


    <p class="text"><span>Lorsque vous devez composer avec des douleurs persistantes ou chroniques, il est important de consulter votre professionnel de la santé. Parallèlement à cette démarche, sachez que l’apport supplémentaire en oxygène dans le plasma, dans les nouveaux petits vaisseaux sanguins ainsi que dans les tissus a un effet anti-inflammatoire. Cela permet donc de contribuer à une réduction de l’inconfort et de l’endolorissement. Par contre il faut prévoir un certain nombre de plongées avant d’observer ces effets. </span></p>
    <p class="text">Il existe de nombreux documents à ce sujet qu’il nous fera plaisir de partager avec vous. Si vous devez vivre avec des douleurs persistantes n’hésitez pas à prendre de l’information auprès de notre équipe compétente. Cela vous permettra ensuite d’entamer une réflexion éclairée et d’en discuter avec vos professionnels de la santé.</p>
</div>
<div class="a">
<img src="../assets/img/processus6.png" class="a" alt="" height="100%" width="100%">

</div>


    


    





    
    <div >
        <h1 class="xa">Planification de votre parcours HBOT</h1>
        <p class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 </p>
        <p  class="xi">Étape 2 - Venez pour votre première séance et évaluation</p>     
      </div>

