.AA{
    padding-left: 10%;
    display: block;
    margin: 0 auto;
    padding-right: 10%;
    padding-top: 5%;
}
/* .g{
    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 4%;
    font-size: 40px;
    padding-left: 9%;


} */
.ge{
    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 4%;
    font-size: 40px;
    padding-left: 10%;


}
.ga{
    padding-left: 10%;
    color: #7a9bc9 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding-top: 25px; */
    font-size: 25px;
}
.text{
    font-size: 19px;
    font-family: "Georgia";
    padding-left: 10%;
    padding-right: 10%;

}
.xx{
    
    /* padding-left: 220px; */
 
    margin: 0 auto;
    padding-right: 0%;
    padding-top: 40%;
    padding-left: 0%;
    width: 100%;
}
.a{
    padding-left: 10%;
    /* padding-right: 20%; */
}
.te{
    font-size: 18px;
    font-family: "Georgia";
    /* padding-left: 10%; */
    padding-right: 20%;
}
.g{
    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    /* padding-left: 10%; */
    padding-right: 20%;
    padding-top: 50%;

}
.mm{
    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    padding-left: 10%;
}
.di{
    padding-left: 13%;
    padding-top: 2%;

}
.da{
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 13%;

}
.dx{
    font-size: 17px;
    padding-left: 13%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
padding-right: 13%;
}
.do{
    padding-left: 4%; 
    padding-top: 3%;



}
.go{

    font-size: 18px;
    font-family: "Georgia";
    padding-left: 18%;
    padding-top: 3%;




}
.gx{

    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 4%;
    font-size: 35px;
    padding-left: 18%;
    padding-top: 6%;


}

.xa{
    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-top: 4%;
    text-align: center;

}
.xi{
    font-family: "Georgia";
    font-size: 18px;
    text-align: center;





}

@media only screen and (max-width:500px) {
    .g{
        font-size: 150%;
        padding-right: 10%;
        padding-left: 7%;

    }


    .ge{
     font-size:150% ;
     padding-right: 10%;

     }
    
     .te {
      font-size: 100%;
      padding-right: 10%;
      padding-left: 7%;

     
     
     
       }  
       .gx{
        font-size:150% ;
        padding-left: 10%;
        }
        .go{
            font-size:100% ;
            padding-left: 10%;
            padding-right: 10%;

            }
            .a{
                font-size: 100%;
                padding-left: 5%;
        
            
              }
              .y{
                font-size:150% ;
                padding-left: 10%;
                padding-right: 10%;


                }      
                .r{
                    font-size:120% ;
                    padding-left: 10%;
                    padding-right: 10%;

    
                    } 
                    .mm{
                        font-size:150% ;
                        padding-left: 10%;
                        padding-right: 10%;

        
                        } 
                        .m{
                            font-size:100% ;
                            padding-left: 10%;
                            padding-right: 10%;
            
                            }
                            .xi{
                                padding-right: 8%;
                                padding-left: 8%;

                            }
                            .xa{
                                font-size: 150%;
                            }
                            .xx{
                                width:90%;
                                padding-left: 12%;
                                padding-right: 6%;
                                padding-top: 0%;
                            }
                            .dx{
                                font-size: 100%;
                                padding-left: 4%;
                                padding-right: 6%;
                            }
                            .di{
                                font-size: 120%;
                                padding-left: 4%;
                                padding-right: 6%;
                            }
                            .da{
                                font-size: 100%;
                                padding-left: 4%;
                                padding-right: 6%;
                            }
    }  
