

<div >
  <img src="../assets/img/cover 1.png" class="d-block w-100 AA "  alt="...">
</div>

<div class="bri aa">
<h1 class="r1">DÉROULEMENT</h1>
<p class="e">Vous devez prévoir entre 60 et 90 minute pour une séance au Centre Hyperbare BorealForest®.</p>
<p class="e">Selon le plan qui aura été choisi avec vous lors de votre séance d’essai gratuite, vous serez installé dans l’une de nos 2 chambres hyperbares flexibles. Nous possédons deux modèles assis ainsi que allongé pour votre plus grand confort. Nous vous suggérons également de prendre ce moment pour vous reposer et refaire le plein d’énergie.</p>
<p class="e">Ensuite, en fonction de votre niveau d’aisance, la pressurisation prendra entre 5 et 10 minutes. Une fois la pression de 1,3 ATA atteinte, vous passerez 60 minutes dans le caisson. Nous avons un système de communication nous permettant de vous assister en tout temps durant la séance si vous avez des questions ou besoin de sortir. Il ne vous reste donc qu’à prendre ce moment de tranquillité pour vous!</p>
<p class="e">Lorsque la séance sera terminée, nous viendrons vous en aviser et procéderons à la dépressurisation durant 5 à 10 minutes.</p>
<p class="e">Il n’y a pas d’effet particulier ressenti durant ni suite à une séance en chambre hyperbare portative. Vous serez donc en mesure de reprendre la route sans souci.</p>
<h1 class="r1"> Préparations </h1>
<br>
<div >
<img src="../assets/img/before.jpg"  class="a"/>
</div>


</div>
<div >
  <h1 class="xa">Planification de votre parcours HBOT</h1>
  <p class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 </p>
  <p  class="xi">Étape 2 - Venez pour votre première séance et évaluation</p>     
</div>
