

<div >
    <img src="../assets/img/espace v.png" class="d-block w-100 AA "  height="80%" alt="...">
  </div>
  
<div>
  <h1 class="text6">Nous livrons partout dans le monde avec une garantie de 3 ans.</h1>
    <h1 class="text">Trois modèles a votre disposition:</h1>
    
</div>
<div>
    <h2 class="te">Modèle Allongé:</h2>
    <p class="t">Favorise le lâcher-prise.    </p>
    <img src="../assets/img/bo.webp" class="a" alt="">
</div>
<div>
    <h2 class="te">Modèle Assis:    </h2>
    <p class="t">Continuer a travailler pendant vos sessions

    </p>
    <img src="../assets/img/bor.webp" class="a" alt="">
</div>
<div >
    <h1 class="xa">Planification de votre parcours HBOT</h1>
    <p  class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 pour planifier votre première session.</p>
 
    <p class="xi"> Étape 2 - Commencez votre parcours de guérison hyperbare.</p>

  </div>
  <div class="aa">
    <button type="button" class="btn btn-primary bgb btn-lgb   "  routerLink="/contact-nous" >Contactez nous</button>

  </div>

 