
<div >
  <img src="../assets/img/you.png" class="d-block w-100 AA "  height="" alt="...">
</div>

<div>
<h1 class="text6">Nous livrons partout dans le monde avec une garantie de 3 ans.</h1>
  <h1 class="text">Quatre modèles a votre disposition:</h1>
  
</div>
<div>

  <h2 class="te">Modèle Allongé:</h2>
  <p class="t">Pression de service ATA (4psi) de 1,3 ATA (4 psi) .   </p>
  <p class="t">Housse de protection de chambre en coton, pour éviter la saleté et facile à laver .</p>
  <p class="t">2 zipper seal for easier entrance .</p>
  <p class="t">7 large transparent viewing windows to prevent claustrophobia .</p>
  <img src="../assets/img/boo.png" class="a" alt="" >
</div>
<div class="mlk">

<table class="table table-bordered  ">
  <thead>
    <tr class="uio">
      <th scope="col">Model</th>
      <th scope="col">&nbsp;</th>
      <th scope="col">ST701</th>
      <th scope="col">ST801</th>
      <th scope="col">ST901</th>

    </tr>
  </thead>
  <tbody>
    <tr >
      <th scope="row" class="uio" rowspan="4" >Chamber Capsule</th>
      <td class="aze">Pressure</td>
      <td>1.3ATA (4psi)</td>
      <td>1.3ATA(4psi)</td>
      <td>1.3ATA(4psi)</td>
    </tr>
    <tr>
 
      <td class="aze">Material</td>
      <td>TPU</td>
      <td>TPU</td>
      <td>Tpu</td>  
    </tr>    
    <tr>
      
      <td class="aze">Size (D*L)</td>
      <td>70*225cm(28*89")</td>
      <td>80*225cm(32*89")</td>
      <td>90*225cm(36*89")</td>    
    </tr>
    <tr>
     
      <td class="aze">Weight</td>
      <td>12kg</td>
      <td>13kg</td>
      <td>13kg</td>   
    </tr>
    <tr>
      <th scope="row" rowspan="2" class="uio">Air Compressor</th>
      <td class="aze">Size</td>
      <td colspan="3">39*24*26cm(16"*10"*23")</td>
    
      
    </tr>
    <tr >
       <td  class="aze">Type</td>
       <td colspan="3">Quite&Oil free type.two super adsorption activated carbon filtres in air input and outlet to protect .</td>  
      
     </tr>
    <tr>
      <th scope="row"[rowSpan]="3" class="uio" >Oxygen Concentrator</th>
      <td class="aze">Size</td>
      <td colspan="3" >35*32*57cm(14"*13"*23")</td>
    </tr>
    <tr>
       <td class="aze">Flow Rate</td>
       <td colspan="3">5Litre/min</td>  
       
     </tr>
     <tr>
       <td  class="aze">Description</td>
       <td colspan="3">PsA molecular sieve high technology.continuouss oxygene production,no need for oxygen tank.</td>  
       
     </tr>
  </tbody>
</table>  </div>

<div class="oo">
  <h2 class="te">Modèle Assis:    </h2>
  <p class="t">Pression de service ATA (4psi) de 1,3 ATA (4 psi) .  </p>
  <p class="t">Entièrement recouvert d’une housse en nylon - joint à fermeture à glissière unique à 3 pour la prévention des fuites d’air .</p>
  <p class="t">Fournit 93% d’oxygène sous pression via un casque à oxygène / masque facial .</p>
  <p class="t">Utilisation facile - une personne peut l’utiliser sans assistance .</p>
  <img src="../assets/img/bor.webp" class="a" alt="">
</div>
<div class="mlk">

  <table class="table table-bordered  ">
    <thead>
      <tr class="uio">
        <th scope="col" colspan="2" >Model</th>
        <!-- <th scope="col">&nbsp;</th> -->
        <th scope="col" >ST1700</th>
        
      </tr>
    </thead>
    <tbody>
      <tr >
        <th scope="row" class="uio" rowspan="5" >Chamber Capsule</th>
        <td class="aze">Pressure</td>
        <td>1.3ATA (4psi)</td>
        
      </tr>
      <tr>
   
        <td class="aze">Material</td>
        <td>TPU</td>
        
      </tr>    
      <tr>
        
        <td class="aze">Size (D*L)</td>
        <td>170*70*110cm (67"*28"*43")</td>
           
      </tr>
      <tr>
       
        <td class="aze">Weight</td>
        <td>13kg</td>
          
      </tr>
  
      <tr >
         <td colspan="1" class="aze">Type</td>
<td>Sitting/semi-Lying</td>          
       </tr>
       <tr>
        <th scope="row"[rowSpan]="3" class="uio" >Air compressor</th>
        <td  class="aze">Size</td>
        <td colspan="2">35*32*57cm(14"*13"*23")</td>
      </tr>
      <tr>
        <tr >
       <td colspan="1" class="aze">Type</td>
       <td>Quite&Oil free type.two super adsorption activated carbon filtres in air input and outlet to protect .</td>  
      
     
      </tr>
      <tr>
        <th scope="row"[rowSpan]="3" class="uio" >Oxygen Concentrator</th>
        <td class="aze">Size</td>
        <td colspan="2" >35*32*57cm(14"*13"*23")</td>
      </tr>
      <tr>
         <td class="aze">Flow Rate</td>
         <td>5Litre/min</td>  
         
       </tr>
       <tr>
        <td class="aze">Description</td>
        <td>PSA molecular sieve high technology.continous oxygen production,no need for oxygen tank.</td>  
        
      </tr>
       <tr>
         <th  scope="row" class="uio">Folding chair (optional)</th>
<td>Description</td>           
<td>Durable and elastic. can sit or semi-lying inside chamber ,180° adjustable .weight:9kg</td>
       </tr>
    </tbody>
  </table>  </div>
  
<!-- -------------------------***********************************-------------------------------------- -->

<div class="oo">
<h2 class="te">hyperbaric chamber hard type :   </h2>
<p class="t">Porte d’entrée de type coulissant .</p>
<p class="t">75 et 90cm de diamètre en option .</p>
<p class="t">Système d’interphone pour les communications bidirectionnelles.</p>
<p class="t">Fournit 93% d’oxygène sous pression via un casque à oxygène / masque facial .</p>
<img src="../assets/img/HP.jpg" class="a" alt="">
</div>
<div class="mlk">

<table class="table table-bordered  ">
  <thead>
    <tr class="uio">
      <th scope="col" colspan="2">Model</th>
      <th scope="col">HP1501-75</th>
      <th scope="col">HP1501-90</th>

      
    </tr>
  </thead>
  <tbody>
    <tr >
      <th scope="row" class="uio" rowspan="5" >Chamber Capsule</th>
      <td class="aze">Pressure</td>
      <td>1.5ATA(7psi)</td>
      <td>1.5ATA(7psi)</td>

      
    </tr>
    <tr>
 
      <td class="aze">Material</td>
      <td colspan="2">Stainless steel+polycarbonate</td>
      
    </tr>    
    <tr>
      
      <td class="aze">Size (D*L)</td>
      <td>75*220cm(30*82")</td>
      <td>90*220cm(36*82")</td>

    </tr>
    <tr>
     
      <td class="aze">Weight</td>
      <td>140kg</td>
      <td>170kg</td>

        
    </tr>

    <tr>
     <tr>
      <th scope="row" rowSpan="7" class="uio" >System Machine</th>
      <td  class="aze">Size/Weight</td>
      <td colspan="2">77*46*72cm(30"*18"*28"),70kg</td>
    
   <tr>
      <tr >
     <td class="aze">Flow of Air</td>
     <td colspan="2" > 72 Liter/min</td>  
    
   
    </tr>
  
    <tr>
       <td class="aze">Flow of oxygen</td>
       <td colspan="2">1-5L/min adjustable</td>  
       
     </tr>
    
     <tr>
      <td class="aze">Air filter</td>
<td colspan="2"> Dual</td>          
    </tr>
    <tr>
      <td class="aze">Voltrage</td>
<td colspan="2"> 110VAC/220VAC  10%</td>          
    </tr>
    
    <tr>
      <td class="aze">Description</td>
<td colspan="3"> All-in-one machine, a cambine of air compressor , oxygen concentrator,and cooler</td>          
    </tr>

  
  </tbody>
</table>  </div>
<!-- -------------------------***********************************-------------------------------------- -->

<div class="oo">
<h2 class="te">Pet hyperbaric chamber:    </h2>
<p class="t">Dilatation gastrique et volvulus et blessures associées .</p>
<p class="t">Réparation de factures, en particulier les factures ouvertes ou celles impliquant malunion ou non .</p>
<p class="t">Greffes de peau .</p>
<p class="t">Ablation du conduit auditif .</p>
<img src="../assets/img/R2.png" class="a" alt="">
</div>
<div class="mlk">

<table class="table table-bordered  ">
  <thead>
    <tr class="uio">
      <th scope="col" colspan="2" >Model</th>
      <!-- <th scope="col">&nbsp;</th> -->
      <th scope="col" >HP600</th>
      <th scope="col" >HP700</th>

      
    </tr>
  </thead>
  <tbody>
    <tr >
      <th scope="row" class="uio" rowspan="5" >Chamber Capsule</th>
      <td class="aze">Pressure</td>
      <td>1.3/1.4ATA (4/5.8psi)</td>
      <td>1.5ATA (7psi)</td>

      
    </tr>
    <tr>
 
      <td class="aze">Material</td>
      <td>Aluminum+Acrylic</td>
      <td>Stainless Steel +Pc</td>

      
    </tr>  
    <tr>
      
      <td class="aze">Cabin diameter</td>
      <td>60 cm</td>
      <td>70 cm</td>

         
    </tr>  
    <tr>
      
      <td class="aze">Size (D*L)</td>
      <td>125*73*86cm (49"*29"*34")</td>
      <td>142*71*93cm (57"*28"*37")</td>

    </tr>
    <tr>
     
      <td class="aze">Weight</td>
      <td>65kg</td>
      <td>100kg</td>

        
    </tr>

    
     <tr>
      <th scope="row"[rowSpan]="7" class="uio" >System machine</th>
      <td  class="aze">Size/weight</td>
      <td colspan="2">77*46*72cm(30"*18"*28"),70kg</td>
    </tr>
    <tr>
      <tr >
     <td colspan="1" class="aze">Flow of Air</td>
<td> 72Liter/min</td>        
   
    </tr>
  
    <tr>
       <td class="aze">Flow of oxygen</td>
       <td>1-5Litre adjustable </td>  
       
     </tr>
     <tr>
      <td class="aze">Air Filter</td>
<td colspan="2">Dual</td>          
    </tr>
    <tr>
      <td class="aze">VoltrageAir Filter</td>
<td>110VAC/220VAC 10%</td>          
    </tr>
    <tr>
      <td class="aze">Description</td>
      <td colspan="3"> All-in-one machine, a cambine of air compressor , oxygen concentrator,and cooler</td>          
    </tr>
     
       
  </tbody>
</table>  </div>
<div >

  <h1 class="xa">Planification de votre parcours HBOT</h1>
  <p  class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 pour planifier votre première session.</p>

  <p class="xi"> Étape 2 - Commencez votre parcours de guérison hyperbare.</p>

</div>

  

