.mg{
    width: 180px;
    height: 120px;
}

.text{
    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    
    padding-left: 10%;

}
.text6{
    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-top: 4%;
    padding-left: 10%;

}
.te{

    font-size: 25px;
    font-family: "Georgia";
font-weight: bold;



    
}

.mlk{
    padding-top: 10%;
padding-left: 15%;
padding-right: 15%;
}
.row{
    background-color: #233F8D;
}
.uio{ background-color: #233F8D;
    color: white;
    padding-top: 5%;
}
.aze{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.oo{
    padding-top: 2%;
}
.xx{
    padding-left: 10%;
    padding-right: 20%;
    /* position: abolute; */
    padding-top: 5%;
    text-align: center;

  
}
.aaaa{
    
    padding-top: 3%;
    padding-left: 10%;

}

.t{
    font-family: "Georgia";


}
.a{
    padding-left: 35%;
    padding-right: 35%;
    
}
.AA{
    padding-left: 10%;
    display: block;
    margin: 0 auto;
    padding-right: 10%;
    padding-top: 5%;
  }

  .xa{
    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-top: 4%;
    text-align: center;

}
.xi{
    font-family: "Georgia";
    font-size: 18px;
    text-align: center;





}
.aa{
    text-align: center;
}
@media only screen and (max-width:500px) {
     .table thead {
    display: none;
  }

  .table,
  .table tbody,
  .table tr,
  .table td,
  .table th {
    display: block;
    width: 100%;
  }

  .table tr {
    margin-bottom: 12px;
  }

  .table td {
    position: relative;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  }

  .table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    font-weight: bold;
    text-align: left;
  }
    
    .text6{
        color: #233F8D ;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
        padding-top: 4%;
        padding-left: 10%;
    
    }
    .xx{
     font-size:100% ;
     padding-left: 1%;

     }
    
     .aa {
      font-size: 100%;
     
     /* padding-right: 10%; */
     padding-left: 1%;

       }  
       .a{
        width: 100%;
        padding-left: 6%;
        padding-right: 6%;

      
       }
       .uio{ background-color: #233F8D;
        color: white;
        padding-top: 5%;
     
    }
    /* .mlk{
        padding-left: 5%;
        width: 50%;
        padding-right: 5%;
    } */
    .aze{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bold;

    
    }
    /* .poi{
height: 50%;
width: 50%;
    } */
}
    
            
            .text{
                font-size: 100%;
                /* padding-top: 2%; */
                padding-left: 10%;
            
            }
            .te{
                font-size: 100%;
                /* padding-top: 2%; */
                padding-left: 10%;
            
            }
            .g{
                font-size: 100%;
                /* padding-top: 2%; */
                padding-left: 10%;
            
            }
            .gx{
                font-size: 100%;
                /* padding-top: 2%; */
                padding-left: 10%;
                padding-right: 8%;
            
            }
            .go{
                font-size: 100%;
                /* padding-top: 2%; */
                padding-left: 10%;
                padding-right: 8%;
            
            }
            .y{
               
                font-size: 100%;
                /* padding-left: 6%; */
                padding-left: 10%;
            
                
            
            
            }
            .r{
               
                padding-top: 6%;
                font-size: 100%;
                /* padding-left: 6%; */
                padding-left: 10%;
            
                
            
            
            }
            .t{
               
                font-size: 100%;
                /* padding-left: 6%; */
                padding-left: 10%;
                padding-right: 10%;

                
            
            
            }
            .m{
               
                padding-top: 6%;
                font-size: 100%;
                /* padding-left: 6%; */
                padding-left: 10%;
                padding-right: 10%;
            
                
            
            
            }
            .xi{
                padding-right: 20%;
                padding-left: 20%;

            }
            .xa{
                font-size: 100%;
            }
            .xx{
                width: 100%;
                padding-left: 12%;
                padding-right: 6%;
            }
