


<div >
    <img src="../assets/img/migraine1.png" class="d-block w-100 AA "  alt="..." width="80%" height="80%">
  </div>

  <div class="ra">
    <h1 class="ge">Oxygénothérapie hyperbare (OHB) pour la douleur chronique</h1>
    <p class="text"><span>Souffrir de douleur chronique, de fibromyalgie, de CRPS/RSD ou de MPS affecte toutes les facettes de votre vie. La douleur qui persiste pendant des mois peut provenir d'une blessure ou d'une maladie initiale,
     mais elle peut également survenir sans cause claire. La douleur chronique affecte le sommeil, l'endurance, l'appétit et l'humeur et peut entraîner une réduction de la flexibilité et de la force. Avec raison, la douleur chronique peut créer des sentiments d'anxiété, d'incertitude et de tristesse. L'oxygénothérapie hyperbare est un traitement non invasif qui utilise de l'oxygène sous pression pour diminuer l'inflammation et accélérer la guérison. Les personnes souffrant de douleurs chroniques signalent moins de douleur et d'enflure, 
    et plus d'absence d'analgésiques après des régimes d'oxygénothérapie hyperbare.</span></p>
    <p class="text"><span>La douleur chronique est une condition débilitante. Son invisibilité peut entraîner la frustration des patients qui se sentent ignorés par les praticiens qui ne disposent pas d'outils efficaces pour diagnostiquer et traiter la douleur. Les personnes souffrant de douleur chronique recherchent un soulagement des symptômes immédiats et la prévention de futurs épisodes de douleur. L'oxygénothérapie hyperbare est un traitement efficace pour de nombreux symptômes de la douleur chronique comme l'inflammation, la fatigue, la mobilité limitée et les douleurs nerveuses. L'OHB soulage la douleur chronique.</span></p>

    </div>
<div class="ra">
    <h1 class="g">Qu'est-ce que la douleur chronique ? </h1>
    <p class="text">La douleur chronique est une douleur qui dure plus de six mois. Elle est parfois causée par des blessures ou des chirurgies passées. La douleur chronique peut également être un symptôme de maladies chroniques telles que la sclérose en plaques (SEP), la fibromyalgie, l'arthrite et le syndrome de douleur régionale chronique (SDRC).</p>
</div>
<div>
    <h1 class="g">Comment l'OHB aide-t-elle la douleur chronique ?</h1>
    <p class="text">●  Réduit l'œdème et l'enflure </p>
    <p class="text">●  Diminue la douleur </p>
    <p class="text">●  Augmente l'amplitude de mouvement  </p>
    <p class="text">● Accélère et approfondit la guérison des blessures </p>
    <p class="text">Favorise la circulation et la croissance des cellules souches, ce qui réduit l'inflammation et soutient le système immunitaire  </p>
    <p class="text">● Augmente la capacité à tolérer la douleur  </p>
    <p class="text">● Decreases tender points & psychological distress in fibromyalgia patients </p>
    <p class="text">● Une diminution de l'invalidité et un seuil de douleur plus élevé persistent pendant au moins 3 mois après le traitement  </p>



</div>


<div >
    <h1 class="co">Effet d'oxygène hyperbare sur la douleur chronique</h1>
    
  <video controls src="../assets/video/3.mp4" class="d-block w-100" class="xx"   height="500px" width=" 500px"></video> 

 </div>
 <div>
    <h1 class="xa">Planification de votre parcours HBOT</h1>
    <p class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 avec le type et l'état de votre commotion cérébrale</p>
    <p class="xi">Étape 2 - Prenez rendez-vous avec nous par téléphone ou sur notre site Web</p>
    <p class="xi">Étape 3 - Venez pour votre première session HBOT</p>

  </div>
