


<div >
    <img src="../assets/img/27.png" class="d-block w-100 AA "  alt="...">
  </div>



<div class="ra">
    <h1 class="ge">développement de la parole    </h1>
        <h2 class="ga">Un effet bénéfique


        </h2>


    <p class="text"><span>Il n’y a pas de documentation scientifique reliée spécifiquement aux troubles du langage et de la parole en lien avec l’oxygénothérapie hyperbare. Nous avons cependant constaté, au fil des dernières années, à quel point les séances en chambre hyperbare ont un effet bénéfique pour aider au développement de la parole chez de nombreux enfants d’âge préscolaire et scolaire.
        La première maman qui nous a posé des questions pour la problématique de langage et de la parole a décidé de nous faire confiance et de tenter l’investissement pour son garçon. Nous avions de fortes raisons de penser que l’hyperbare pourrait aider, sans toutefois trouver aucune information scientifique pour confirmer nos suppositions, ce que la cliente savait en toute transparence. Elle a fait les démarches auprès des intervenants et spécialistes de la santé puis a décidé d’aller de l’avant avec la location pour son garçon. Nous avons alors été surpris de voir à quel point son langage se développait rapidement! De plus, l’enfant avait plus d’aisance avec l’alimentation et les textures. Il n’y avait pas plus belle paye pour nous que d’apprendre que son fils pouvait appeler ses amis pour la première fois et les inviter à venir jouer de façon autonome. De petites victoires qui changent énormément leur confiance en soi!</span></p>
</div>
<div class="a">
<img src="../assets/img/language.jpg" class="a" width="100%"
height="100%" alt="">

</div>

<div>
    <h1 class="ge">Des résultats
    </h1>
    <p class="text">Il s’en est suivi de nombreuses autres personnes qui ont décidé de faire confiance à la chambre hyperbare portative. Chaque fois de petites et grandes victoires sont venues confirmer la plus value des séances en caisson pressurisé en synergie avec le travail réalisé par les autres spécialistes.
        De façon générale, voici ce que nos petits clients ont eu comme progrès:</p>
    <p class="te">● Meilleure articulation et prononciation de sons et de mots    </p>
    <p class="te">● Capacité de faire des phrases plus complètes
    </p>
    <p class="te">●  Plus de facilité au niveau de la gestion des textures alimentaires
    </p>
    <p class="te">● Diversification des goûts envers les aliments

    </p>
    <p class="te"> ● Amélioration de la confiance en soi

    </p>
    <p class="te">● Augmentation de la facilité à aller vers les autres</p>
    <p class="text">Bien entendu, chaque humain est différent et nous ne pouvons jamais garantir de résultats. Nous ne sommes pas des médecins et ne prétendons pas l’être. Nous tenons cependant à partager nos constats et souhaitons ardemment qu’il y ait un jour une étude réalisée au Québec pour démontrer scientifiquement les résultats que nous constatons semaines après semaines.
        Il nous fera un immense plaisir de vous mettre en relation avec d’autres parents qui ont fait de l’hyperbare pour leur enfant ayant un trouble du langage. Nous avons une communauté prête à échanger des trucs ou des contacts des spécialistes qui les ont aidé avec leur enfant. Nous croyons fortement que les séances en chambre hyperbare forment un tout avec le travail de tous les intervenants qui gravitent autour des enfants à besoins particuliers.</p>

</div>


    


    





    
    <div >
        <h1 class="xa">Planification de votre parcours HBOT</h1>
        <p class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 </p>
        <p  class="xi">Étape 2 - Venez pour votre première séance et évaluation</p>     
      </div>
    