.AA{
    padding-left: 10%;
    display: block;
    margin: 0 auto;
    padding-right: 10%;
    padding-top: 5%;
}
.ge{
    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 4%;
    font-size: 40px;
    padding-left: 10%;


}
.text{
    font-size: 19px;
    font-family: "Georgia";
    padding-left: 10%;
    padding-top: 1%;
    padding-right: 10%;

}
.g{
    padding-left: 10%;
    color: #7a9bc9 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding-top: 25px; */
    font-size: 25px;
}
.te{
    font-size: 19px;
    font-family: "Georgia";
    padding-left: 10%;
    padding-top: 1%;
}
.tex{
    font-size: 19px;
    font-family: "Georgia";
    padding-left: 10%;
    padding-top: 1%;
    font-weight: bold;
    padding-right: 10%;
}
.ss{
    text-align: center;
    overflow: hidden;
    padding-top: 2%;
}
.s{
    text-align: center;
    font-size: 18px;
    padding-top: 1%;
}
.t{
    font-size: 19px;
    font-family: "Georgia";
    padding-left: 14%;
    padding-right: 14%;
    padding-top: 1%;

}
.ga{

    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 4%;
    font-size: 35px;
    padding-left: 10%;
}
.ta{

    font-size: 16px;
    font-family: "Georgia";
    padding-left: 10%;
    /* padding-top: 1%; */

}
.x{

    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 1%;
    font-size: 30px;
    padding-left: 9%;
    padding-right: 9%;
    text-align: center;


}
.gx{

    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    padding-left: 23%;
    padding-top: 2%;


}
.a{
    padding-right: 40%;
    padding-top: 15%;
    padding-left: 40%;
}

.xa{
    color: #233F8D ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-top: 3%;
    text-align: center;

}
.xi{
    font-family: "Georgia";
    font-size: 18px;
    text-align: center;





}

