<nav class="navbar    navbar-expand-md  back  "  >
    <div class="container-fluid ">
        <div class="offcanvas-body"> 
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              
               
    <div class="offcanvas offcanvas-end tx " tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">

        
      <DIV class="hmlp">
      
<section id="sidebar" >
    <a href="#" class="brand">
      <i class='bx bxs-smile text'></i>
      <span class="te" >Bienvenue admin</span>
    </a>
    <ul class="side-menu top">
    
      <li class="active">
        <a href="#">
          <i class='bx bxs-dashboard text' ></i>
          <span class="tex">Tableau de bord</span>
        </a>
      </li>
      <li >
          <a routerLink="/patient">
            <i class='bx bxs-group text ' ></i>
            <span class="tex"  >Gestion Patient</span>
          </a>
        </li>
      <li >
        <a routerLink="/matriel">
          <i class='bx bxs-shopping-bag-alt text' ></i>
          <span class="tex" >Gestion de Matériels</span>
        </a>
      </li>
     
      <li>
        <a routerLink="/rendezvous">
          <i class='bx bxs-message-dots text' ></i>
          <span class="tex" > Rendez-vous</span>
        </a>
      </li>
      <li>
          <a routerLink="/recette">
            <i class='bx bxs-doughnut-chart text' ></i>
            <span class="tex"> Recette </span>
          </a>
        </li>
      <li>
      <a routerLink="/depense">
        <i class='bx bx-line-chart text'></i>
        <span class="tex"> Dépense </span>
      </a>
    </li>
    </ul>
    <ul class="side-menu">
      <ul class="side-menu" >
        <li class="active vv">
          <div class="dropdown">

          <a  >
            <i class='bx bxs-cog text ' ></i>
              <a class="nav-link dropdown-toggle  vv" routerLink="/parametre" id="navbarDropdown"
                  role="button  " data-bs-toggle="dropdown" aria-expanded="false"data-toggle="dropdown" aria-haspopup="true">
                  <i class=""></i>Paramétre
              </a>
              <ul class="dropdown-menu vv" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" routerLink="/profil" >Profil</a></li>
                <li><a class="dropdown-item" routerLink="/connecte">Déconnexion</a></li>
            </ul>
        </a>
      </div>

        </li>
        <li>
          <a routerLink="/accueil" class="logout">
            <i class='bx bxs-log-out-circle text' ></i>
            <span class="tex">Se déconnecter</span>
          </a>
        </li>
      </ul>
    </ul>
    
  </section>
</DIV>
  <div class="offcanvas-header back mm" >
    <a class="navbar-brand " > </a>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  </div>
  </div>
  </div>
</nav>
  <!-- SIDEBAR -->
  
  
  
  <!-- CONTENT -->
  <section id="content">
    <!-- NAVBAR -->
    <nav>
      <form action="#">
       
      </form>

 
      <div class="notification-box">

        <input type="" id="" hidden>
<label for="" ></label>
<a routerLink="/notification"class="notification">
   <i class='bx bxs-bell' ></i>
   <span class="num">{{am}}</span>
</a>
   </div>


      <span class="navbar-toggler-icon"></span>

      <div class="" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle second-text fw-bold" href="#" id="navbarDropdown"
                    role="button" data-bs-toggle="dropdown" aria-expanded="false" data-toggle="dropdown" aria-haspopup="true">
                    <i class="fas fa-user me-2"></i>Admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink="/profil">Profil</a></li>
                    <li><a class="dropdown-item" routerLink="/parametre">Paramétre</a></li>
                    <li><a class="dropdown-item" routerLink="/connecte">Déconnexion</a></li>
                </ul>
            </li>
        </ul>
    </div>
    </nav>
   
    <main>
      <div class="head-title">
        <div class="left">
          <ul class="breadcrumb">
            <li>
              <a href="#">Tableau de bord</a>
            </li>
            <li><i class='bx bx-chevron-right' ></i></li>
            <li>
              <a class="active" >Tableau de bord</a>
            </li>
          </ul>
        </div>
        
      </div>
  
   
  
      
    </main>
  </section>
  <!-- CONTENT -->


 
    
          
    
  
  <section class="home-section">
      
  
    <div class="home-content">
      <div class="overview-boxes">
        <div class="box">
          <div class="right-side ">
            <div class="box-topic">Patients</div>
            <div class="number" >{{p}}
            </div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt' routerLink="/patient"></i>
            </div>
          </div>
          <i class='bx bx-cart-alt cart'></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic ">Recette <span class="wx">{{month}}</span>  </div>
            <div class="number">{{summ}}</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt' routerLink="/matriel"></i>
            </div>
          </div>
          <i class='bx bxs-cart-add cart two' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Rendez-vous</div>
            <div class="number">{{e}}</div>
            <div class="indicator">
              <i class='bx bx-up-arrow-alt' routerLink="/rendezvous"></i>
            </div>
          </div>
          <i class='bx bx-cart cart three' ></i>
        </div>
        <div class="box">
          <div class="right-side">
            <div class="box-topic">Dépense <span class="wx">{{month}}</span>  </div>
            <div class="number">{{sum}} Dt</div>
            <div class="indicator">
              <i class='bx bx-down-arrow-alt down' routerLink="/recette"></i>
            </div>
          </div>
          <i class='bx bxs-cart-download cart four' ></i>
        </div>
      </div>

        
<!-- ****************************************************************************************** -->
<!-- In your component template file -->
<table class="CVV">
   <tr class="chartContainer" id="chart2" >
    <td> <apx-chart 
      [series]="chartSeries"
      [chart]="chartDetails"
      [labels]="chartLabels"
      [title]="chartTitle" 
      [dataLabels]="chartDataLabels"
      [fill]="chartfill"
      [states]="chartstates"
      [plotOptions]="chartplotOptions"
      [responsive]="chartresponsive"
    ></apx-chart></td>
    <td>
      
      <apx-chart 
      [series]="chartSeriess"
      [chart]="chartDetailss"
      [labels]="chartLabelss"
      [title]="chartTitles" 
      [dataLabels]="chartDataLabelss"
      [fill]="chartfills"
      [states]="chartstatess"
      [plotOptions]="chartplotOptionss"
      [responsive]="chartresponsives"
    ></apx-chart>
    </td>
     
  </tr> 
   <tr class="chartContainer1 " id="chart1">

     <td> <apx-chart
      [series]="series11"
      [chart]="chart1"
      [xaxis]="xaxis1"
      [dataLabels]="dataLabels1"
      [grid]="grid1"
      [stroke]="stroke1"
      [title]="title1"
    ></apx-chart></td>
     <td> <apx-chart
      [series]="series22"
      [chart]="chart2"
      [xaxis]="xaxis2"
      [dataLabels]="dataLabels2"
      [grid]="grid2"
      [stroke]="stroke2"
      [title]="title2"
    ></apx-chart></td>
     

    
  </tr>
  <tr class="chartContainer1 " id="chart1">
    <td  > <apx-chart
      [series]="series3"
      [chart]="chart3"
      [xaxis]="xaxis3"
      [dataLabels]="dataLabels3"
      [grid]="grid3"
      [stroke]="stroke3"
      [title]="title3"
    ></apx-chart></td>
    
     <td> <apx-chart
      [series]="series4"
      [chart]="chart4"
      [xaxis]="xaxis4"
      [dataLabels]="dataLabels4"
      [grid]="grid4"
      [stroke]="stroke4"
      [title]="title4"
    ></apx-chart></td>

  </tr>
</table>
<style>
  .cvb{
    width: 88%;

  }
  
</style>

<div>
  <div class="mmxx">
    <div class="titr">
      <h3>Gestion Recettes</h3>
    </div>

    <table>
      <tr>
        <td class="cvb">
          <h5  class="recette-mois">Recette par mois</h5>
          <form>
            <input type="month" id="monthInput" name="month">
            <input class="cvp" type="submit" value="Recherche">
          </form>
        </td>
        <td class="cvb">
          <h5  class="recette-annee">Recette par Année</h5>
          <form>
            <input type="number" id="year" name="year" min="2023" max="6060" value="2023">
            <input class="cvp" type="submit" value="Recherche">
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>

</div>



   
   
      
   

    
 


            

<!-- ****************************************************************************************** -->


<style>
 
  .cvb {
    width: 86%;
  }
</style>

<div>
  <div class="axxxx">
    <div class="titr">
      <h3>Gestion des Dépenses</h3>
    </div>
    <table>
      <tr>
        <td class="cvb">
          <form>
            <h5  class="recette-mois">Recette par mois</h5>
            <input type="month" id="" name="month">
            <input class="cvp" type="submit" value="Recherche">
          </form>
        </td>
        <td class="cvb">
          <form>
            <h5  class="recette-annee">Recette par Année</h5>
            <input type="number" id="year" name="year" min="2023" max="6060" value="2023">
            <input class="cvp" type="submit" value="Recherche">
          </form>
        </td>
      </tr>
    </table>
  </div>
</div>

     
  
 
   


    


      
     
     
      

  
 
 

 




<!-- ------------****************************------------------------------------ -->


