


<div >
    <img src="../assets/img/34.png" class="d-block w-100 AA "  alt="...">
  </div>



<div class="ra">
    <h1 class="ge">LES CAPACITÉS COGNITIVES
    </h1>
      

    <p class="text">Depuis des années il est connu  que les séances en caisson pressurisé procurent des bienfaits au  niveau des capacités cognitives tant chez l’enfant que pour l’adulte. Depuis déjà six ans, nous remarquons à toutes les semaines de belles améliorations chez nos clients à ce niveau. Voici une liste minimaliste de tout ce que nous avons recensé. Il nous fera vraiment plaisir de prendre le temps de vous mettre en relation avec d’autres parents ou d’autres clients afin que vous puissiez échanger. Nous avons également de nombreuses informations à vous partager afin de vous permettre d’entamer une réflexion approfondie et d’échanger avec votre spécialiste de la santé.</p>
</div>
<div class="a">
<img src="../assets/img/capacites.jpg" class="a" width="100%" height="100%" alt="">

</div>

<div>
    <h1 class="ge">Les +</h1>
    
    <p class="te">● Plus d’éveil et meilleure conscience de l’environnement
    </p>
    <p class="te">●Contact visuel et réaction à la stimulation

    </p>
    <p class="te">●  Amélioration de la compréhension des consignes

    </p>
    <p class="te">● Volonté à vouloir communiquer avec les personnes et l’environnement


    </p>
    <p class="te"> ● Meilleure expression de ses besoins


    </p>
    <p class="te">● Disparition de la sensation de «brain fog ou confusion»

    </p>
    <p class="te">● Meilleure concentration

    </p>
    <p class="te">● Plus de facilité à trouver les mots et à les exprimer

    </p>
    <p class="te">● Amélioration de la capacité de lecture chez l’adulte


    </p>
  

</div>


    


    





    
    <div >
        <h1 class="xa">Planification de votre parcours HBOT</h1>
        <p class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 </p>
        <p  class="xi">Étape 2 - Venez pour votre première séance et évaluation</p>     
      </div>

      