<div >
    <img src="../assets/img/01.png" class="d-block w-100 AA"  alt="...">
  </div>
  <div class="ra">
    <h1 class="ge">récupération sportive</h1>

    <p class="tex"><span>Entraînement, compétition et récupération vont de pair. Intégrez l'oxygénothérapie hyperbare dans votre programme de récupération sportive pour renforcer le système immunitaire, oxygéner les muscles et accélérer le processus de guérison des blessures sportives.</span></p>

    </div>
    <div class="row featurette">
        <div class="col-md-4">
          <h2 class="f">« Pas de douleur, pas de gain », disent-ils…</h2>
          <p class="g" >Battre votre nouveau record ne devrait pas faire de mal. La performance des athlètes ne devrait pas avoir le prix de leur santé. La douleur n'est pas agréable, la douleur n'est pas héroïque. Chaque fois que vous avez besoin de prendre soin de vous, faites confiance à mHBOT pour soulager votre :</p>
          



        </div>
        <div class="col-md-4 go">
            <p class="g">DOULEURS ARTICULAIRES</p>
            <p  class="g">MUSCLES ET TENDONS DÉCHIRÉS</p>
            <p  class="g">COMMOTIONS</p>
            <p  class="g">BLESSURES À LA TÊTE</p>
            <p  class="g">BLESSURES LIGAMENTAIRES</p>
        </div>
        <div class="col-md-4 go">
            <p class="g">DOULEURS ARTICULAIRES</p>
            <p  class="g">MUSCLES ET TENDONS DÉCHIRÉS</p>
            <p  class="g">COMMOTIONS</p>
            <p  class="g">BLESSURES À LA TÊTE</p>
            <p  class="g">BLESSURES LIGAMENTAIRES</p>
        </div>

     


            <div class="row featurette ">
                <div class="col-md-6">
                    <h1 class="gx">Les performances sportives peuvent faire mal</h1>
                    <p class="l"><span>Les athlètes sont sujets à diverses commotions ou déchirures des ligaments qui entraînent des problèmes encore plus graves pendant les années les plus importantes de la performance sportive.

                        Les sportifs cherchent à récupérer rapidement et à retourner dans le monde de la compétition, l'oxygénothérapie hyperbare pour la récupération sportive peut améliorer les temps de guérison et maximiser le potentiel de récupération du corps pour reprendre le jeu.</span></p>                  
        
        
        
                </div>
                <div class="col-md-4  ">
                    <img src="../assets/img/122.png" class="aa" alt="" width="120%" height="80%">
                    
                </div>
                <div>
                    <h2 class="x">L'oxygénothérapie hyperbare pour la récupération sportive a le potentiel de guérir cette blessure.</h2>
                    <p class="text">L'oxygénothérapie hyperbare pour la récupération sportive est l'une des méthodes anti-inflammatoires et cicatrisantes les plus efficaces qui peuvent aider les athlètes à se remettre de blessures liées au sport et à faciliter la performance.</p>
                </div>







                <div class="col-md-6 order-md-2">
                    <h2 class="y">Épuisé après un entraînement intense ? Intégrer l'oxygénothérapie hyperbare pour la routine de récupération sportive.</h2>
                    <p class="r">Il faut souffler un peu pour rester compétitif.

Les séances d'oxygénothérapie hyperbare à l'intérieur de la chambre hyperbare BorealForest sont la méthode naturelle pour gérer la récupération et la relaxation après des entraînements et des entraînements difficiles.

mHBOT (Mild Hyperbaric Oxygen Therapy for sports recovery) est un traitement d'appoint puissant que tout athlète peut utiliser pour améliorer ses performances sportives et renforcer le processus de guérison naturel du corps.</p>
                  </div>
                  <div class="col-md-5 order-md-1 xx">
                      <img src="../assets/img/scc.png" alt=""  width="100%" height="110%">
                  </div>
                </div>

                
        <div >
            <h1 class="xa">Planification de votre parcours HBOT</h1>
            <p  class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 pour planifier votre première session.</p>
         
            <p class="xi"> Étape 2 - Commencez votre parcours de guérison hyperbare.</p>
          </div>


