
<div >
    <img src="../assets/img/ggg.png" class="d-block w-100 AA "  alt="...">
  </div>



<div class="ra">
    <h1 class="ge">Dévloppement moteur</h1>
        <h2 class="ga">Une amélioration de la qualité de vie</h2>


    <p class="text"><span>La majorité de nos clients sont des enfants ou des adultes, qui, pour diverses raisons, éprouvent des difficultés au niveau de leur tonus musculaire. Que ce soit des raideurs ou à l’inverse un manque de tonus ou de la spasticité, les séances en caisson pressurisé permettent d’améliorer leur qualité de vie et de favoriser le travail des physiothérapeutes, ergothérapeutes ou autres spécialistes du mouvement. </span></p>
    <p class="text">Il faut cependant préciser que généralement, les gains sur le plan moteur sont plus temporaires. Après quelques semaines voir des mois, il se peut que la personne perde tranquillement les acquis. C’est souvent pour cette raison que les familles se dirigent vers l’achat puisque le caisson permet de maintenir les améliorations et de travailler efficacement en réadaptation afin de cheminer davantage ou de maximiser le développement moteur de l’enfant et de l’adulte.</p>
</div>
<div class="a">
    <img src="../assets/img/dev.jpg" class="a" alt="" >
</div>


    <div>
    <p class="tex">Les résultats varient beaucoup d’une personne à l’autre mais voici quelques exemples de ce que nous avons connu comme réussites. Il est à noter que nous croyons sincèrement qu’il faut aussi mettre de l’avant le travail des spécialistes du mouvement dans ces réussites. Ces personnes permettent au client de prendre l’amélioration physique et de la transformer en réussite motrice!</p>
    <p class="te">●  Capacité à détendre le pied crispé, ce qui favorise le développement de la marche.</p>
    <p class="te">●  Meilleure motricité fine et globale.</p>
    <p class="te">●  Amélioration au niveau du contrôle du tronc et des membres .   </p>
    <p class="te">● Apparition de la marche à quatre pattes.
    </p>
    <p class="te"> ● Meilleure gestion de la salivation.
    </p>
    <p class="te">● Meilleur contrôle de la tête.
    </p>
    <p class="te">●Force dans les jambes et les bras.
    </p>

</div>








    
    <div >
        <h1 class="xa">Planification de votre parcours HBOT</h1>
        <p class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 </p>
        <p  class="xi">Étape 2 - Venez pour votre première séance et évaluation</p>     
      </div>
  