


<div >
    <img src="../assets/img/bn.png" class="d-block w-100 AA "  alt="...">
  </div>
  <div class="ra">
    <h1 class="ge">surdité brusque Perte auditive neurosensorielle (ISSNHL)</h1>
    <h2 class="ga">L'hyperbarie pour aider à guérir l'ouïe</h2>

    <p class="text"><span>La perte auditive soudaine est aussi effrayante qu'imprévisible. Une minute, vous pouvez entendre. Ensuite, vous avez inexplicablement perdu une quantité importante d'audition dans l'une ou les deux de vos oreilles. Une perte auditive inexpliquée comme celle-ci n'est pas seulement alarmante, mais elle peut aussi changer 
    fondamentalement votre monde tel que vous le connaissez. La perte auditive affecte probablement votre travail, vos interactions avec vos proches et à peu près tout ce que vous faites au quotidien. Lors de l'apparition d'une perte auditive soudaine, il est important de faire tout ce que vous pouvez pour traiter la condition aussi rapidement et efficacement que possible. 
    L'hyperbarie holistique peut être un élément fondamental des plans de traitement efficaces de la perte auditive soudaine et un moyen de vous redonner de l'ouïe.</span></p>
    </div>

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="y">Qu'est-ce que la surdité de perception idiopathique soudaine ?</h2>
          <p class="r">La perte auditive neurosensorielle idiopathique soudaine (également appelée perte auditive neurosensorielle soudaine ou ISSHL) est caractérisée par une perte auditive de 30 décibels ou plus sur trois fréquences audiométriques contiguës ou plus avec un début de moins de trois jours. L'ISSHL se produit rapidement, de manière inattendue et n'a pas de cause ou d'explication claire. L'ISSHL peut se produire dans une ou les deux oreilles et pour certains, il peut être difficile de le remarquer immédiatement. Les personnes souffrant d'ISSHL peuvent également avoir des bourdonnements (acouphènes) dans les oreilles, des sensations d'oreille pleine, des problèmes de conscience spatiale, des vertiges et des étourdissements.</p>
        </div>
        <div class="col-md-5 order-md-1 xx">
            <img src="../assets/img/Ear.jpg" alt=""  width="90%" height="90%">
        </div>
      </div>
      <div>
        <h1 class="g">Comment l'OHB peut aider l'ISSHL</h1>

      </div>

      <div>
        <table>
            <tr> <td class="di">
                <img src="../assets/img/v.png" alt="" width="120px" height="120px">  
              </td>
              <td class="do">
                  <h1 class="da">Réduit l'inflammation</h1>
                  <p class="dx">L'OHB resserre les vaisseaux sanguins, ce qui est particulièrement important pour réduire l'inflammation de l'oreille interne. Le soulagement de la pression sur les vaisseaux sanguins améliore la circulation et permet aux tissus endommagés de guérir.</p>
              </td>
             
             </tr>
             <tr>
                <td class="di">
                    <img src="../assets/img/ww.png" alt="" width="120px" height="120px">  
                  </td>
                  <td class="do">
                      <h1 class="da">Réduit l'inflammation et l'enflure</h1>
                      <p class="dx">L'OHB accélère le processus naturel de croissance de nouveaux capillaires du corps. Une augmentation des vaisseaux sanguins dans l'oreille permettra au corps de fournir plus facilement des nutriments et de l'oxygène aux tissus qui en ont besoin. Cette augmentation des vaisseaux sanguins
                         continuera à soutenir la santé de l'oreille interne même après la fin des séances d'OHB.</p>
                  </td>
             </tr>
             <tr>
                <td class="di">
                    <img src="../assets/img/Z.png" alt="" width="120px" height="120px">  
                  </td>
                  <td class="do">
                      <h1 class="da">Augmente la circulation</h1>
                      <p class="dx">L'augmentation du flux sanguin entraîne une amélioration de l'apport d'oxygène et de nutriments aux tissus endommagés. Cette circulation accrue est nécessaire pour sauver les «cellules ciliées» (stéréocils) à l'intérieur de l'oreille interne qui sont responsables de l'interprétation du son.</p>
                  </td>
                  
             </tr>

            <tr>
                <td class="di">
                    <img src="../assets/img/3.png" alt="" width="120px" height="120px">  
                  </td>
                  <td class="do">
                      <h1 class="da">Réduit la décoloration</h1>
                      <p class="dx">La combinaison d'oxygène à haut débit et d'une pression accrue oxygène le plasma sanguin, permettant à plus d'oxygène de circuler à travers les tissus. De plus, l'OHB stimule la croissance de nouveaux vaisseaux sanguins dans les tissus privés d'oxygène, permettant au sang saturé d'oxygène d'entrer dans ces zones.</p>
                  </td>  
            </tr>
             <tr>
                <td class="di">
                    <img src="../assets/img/4.png" alt="" width="120px" height="120px">  
                  </td>
                  <td class="do">
                      <h1 class="da">Fonctionne en complément d'autres interventions </h1>
                      <p class="dx">Des performances mitochondriales optimales contribuent à l'efficacité des stéroïdes administrés par votre ORL.</p>
                  </td>  
             </tr>
        
        </table>
      </div>
      <div>
        <h1 class="g">Fenêtre de quatorze jours</h1>
        <p class="tex">L'ISSHL est une condition d'urgence très grave qui, si elle n'est pas traitée immédiatement, peut entraîner une perte permanente de l'audition. Si vous souffrez d'ISSHL et/ou de l'un de ses symptômes, il est essentiel que vous contactiez immédiatement votre médecin ORL. Il y a une petite fenêtre de temps de 14 jours à compter de la première expérience de l'ISSHL et de l'un de ses symptômes. Cette fenêtre de 14 jours correspond au moment où le traitement est le plus susceptible de vous aider à récupérer la plupart ou la totalité de votre audition. Après les 14 premiers jours, il devient de plus en plus difficile et peu probable de récupérer toute votre audition, mais il y a encore de l'espoir et peu importe combien de temps cela a duré.</p>
        <img src="../assets/img/courbe.jpg" class="a" alt="" width="100%" height="100%"   >
      </div>





      <div >
        <h1 class="xa">Planification de votre parcours HBOT</h1>
        <p class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 </p>
        <p  class="xi">Étape 2 - Venez pour votre première séance et évaluation</p>
        <p class="l">-En fonction de votre parcours spécifique, attendez-vous à être avec nous pour 10 (2 semaines) à 20 (4 semaines) sessions</p>
     
        <p class="xi">Étape 3 - Examen post-protocole pour évaluer notre performance pour vous aider à récupérer votre audition</p>
      </div>
