

<div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols- row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="../assets/img/s.png" alt=""  height="280PX" >
            <div class="card-body">
                <h1 class="ge">Oxygénothérapie hyperbare et commotion cérébrale</h1>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button"  routerLink="/concussion"class="btn btn-sm btn-outline-secondary">voir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../assets/img/i.jpeg" alt="" >

            <div class="card-body">
                <h1 class="ge">Oxygénothérapie hyperbare et Post-covid19
                </h1>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" routerLink="/covid_19" class="btn btn-sm btn-outline-secondary">voir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../assets/img/so.jpg" alt="">
            <div class="card-body">
                <h1 class="ge">oxygénothérapie hyperbare et le diabète</h1>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" routerLink="/diabete" class="btn btn-sm btn-outline-secondary">voir</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../assets/img/Sudden.jpg" alt="">
            <div class="card-body">
                <p class="ge">Oxygénothérapie hyperbare et la surdité brusque 
 
                </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" routerLink="/surdite_brusque" class="btn btn-sm btn-outline-secondary">voir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../assets/img/fe.jpg" alt="" width="107%" height="250%">
            <div class="card-body">
                <h1 class="ge">Oxygénothérapie hyperbare et la fertilité</h1><br>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button"  routerLink="/fertilité" class="btn btn-sm btn-outline-secondary">voir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../assets/img/66.jpg" alt="">
            <div class="card-body">
                <h1 class="ge">Oxygénothérapie hyperbare et Récupération chirurgicale</h1><br>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" routerLink="/Recuperation_chirurgicale" class="btn btn-sm btn-outline-secondary">voir</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="../assets/img/Co.jpg" alt="">
            <div class="card-body">
                <h1 class="ge">Oxygénothérapie hyperbare et chirurgie esthétique</h1>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" routerLink="/esthétique" class="btn btn-sm btn-outline-secondary">voir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../assets/img/21.png" alt="" height="280PX">
            <div class="card-body">
                <h1 class="ge">Oxygénation hyperbare et la migraines</h1>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" routerLink="/migraines" class="btn btn-sm btn-outline-secondary">voir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="../assets/img/ki.jpeg" alt="">
            <div class="card-body">
                <h1 class="ge">Oxygénothérapie hyperbare et les enfants autistes
                </h1>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" routerLink="/autistes" class="btn btn-sm btn-outline-secondary">voir</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/nicole.jpeg" alt="">
              <div class="card-body">
                  <h1 class="ge">Oxygénothérapie hyperbare et la beauté et l'anti-âge</h1>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" routerLink="/beauty" class="btn btn-sm btn-outline-secondary">voir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/Sc.png" alt="">
              <div class="card-body">
                  <h1 class="ge">Oxygénothérapie hyperbare et les soins du cerveau</h1>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button"routerLink="/cerveau " class="btn btn-sm btn-outline-secondary">voir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/scc.png" alt="">
              <div class="card-body">
                  <h1 class="ge">Oxygénothérapie hyperbare et la récupération sportive</h1>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" routerLink="/sportive" class="btn btn-sm btn-outline-secondary">voir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/nn.png" alt="" height="280PX">
              <div class="card-body">
                  <h1 class="ge">Oxygénothérapie hyperbare  et la douleur chronique</h1>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button"routerLink="/douleur_chronique" class="btn btn-sm btn-outline-secondary">voir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/29.png" alt="" height="280PX">
              <div class="card-body">
                  <h1 class="ge">Oxygénothérapie hyperbare et LES CAPACITÉS COGNITIVES
                  </h1>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button"routerLink="/les-capacite-congnitives" class="btn btn-sm btn-outline-secondary">voir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/30.png" alt="" height="280PX">
              <div class="card-body">
                  <h1 class="ge">Oxygénothérapie hyperbare et le développement de  parole</h1>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button"routerLink="/devloppement-de-parole" class="btn btn-sm btn-outline-secondary">voir</button>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/31.png" alt="" height="280PX">
              <div class="card-body">
                  <h1 class="ge">Oxygénothérapie hyperbare  et La Gestion de la douleur
                  </h1>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button"routerLink="/la-gestion-de-la-douleur" class="btn btn-sm btn-outline-secondary">voir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/32.png" alt="" height="280PX">
              <div class="card-body">
                  <h1 class="ge">Oxygénothérapie hyperbare et sommeil et energie
                  </h1>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button"routerLink="/sommeil-energie" class="btn btn-sm btn-outline-secondary">voir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img src="../assets/img/333.png" alt="" height="280PX">
              <div class="card-body">
                  <h1 class="ge">Oxygénothérapie hyperbare et le Dévloppement moteur </h1>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button"routerLink="/devloppement-moteur" class="btn btn-sm btn-outline-secondary">voir</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      </div>
    </div>
  </div>

