


<div >
    <img src="../assets/img/23.png" class="d-block w-100 AA "  alt="...">
  </div>



<div class="ra">
    <h1 class="ge"> La principe de base</h1>
    <h2 class="ga">Une  amélioration de la qualité de vie</h2>

    <p class="text"><span>Le corps renferme des milliers de millards de cellules qui ont toutes besoin d’oxygène. Par le processus de respiration, l’oxygène passe des poumons aux cellules rouges qui ont pour fonction d’en faire le transport dans le sang.  En effet, 95% d’entre elles transportent de l’oxygène. Le sang est en grande majorité composé de globules rouges, mais également de globules blancs, de plaquettes et du plasma.  
        Le plasma est un liquide aqueux dans lequel sont dissouts les nutriments, électrolytes, hormones, protéines, graisses, sucres, déchets métaboliques et d’autres substances. Les autres cellules sanguines (rouges, blanches et plaquettes) flottent dans le plasma lorsqu’ils circulent dans le corps. Avec la chambre hyperbare, on vient saturer les globules rouges, et le surplus d’oxygène est directement dissout dans le plasma sanguin, donc plus profondément dans le sang. De plus, la pression fait en sorte que les molécules d’oxygènes deviennent plus petites. Cela permet ainsi l’oxygénation de parties du corps qui étaient en état d’hypoxie (en manque d’oxygène).</span></p>
    </div>

    <div class="a">
        <h1 class="tex">Voici donc en image ce qui se produit lorsque vous faites une séries de plongées dans les caissons pressurisés:</h1>
<div class="pa">
        <img src="../assets/img/processus1.png" class="ss"  alt="" width="100%" height="100%">
        <img src="../assets/img/processus2.png" alt=""width="100%" height="100%">
        <img src="../assets/img/processus3.png" class="ss" alt=""width="100%" height="100%">
        <img src="../assets/img/processus4.png" alt=""width="100%" height="100%">

    </div>
    </div>

    
    <div >
        <h1 class="xa">Planification de votre parcours HBOT</h1>
        <p class="xi">Étape 1 - Appelez-nous ou envoyez-nous un SMS au (+216) 56 811 602 </p>
        <p  class="xi">Étape 2 - Venez pour votre première séance et évaluation</p>     
      </div>
