

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">

        <img src="../assets/img/bg0.png" class="abs" alt="">
        <video src="../assets/video/home.mp4" class="d-block w-100" class="vid-bg"  autoplay="autoplay" loop="loop"  [muted]="'muted'"></video>
       <div class="gg">
        <h1 ><span class="text" >Il est temps d’intégrer</span> </h1>
        <h1  ><span class="text1 ">
          l’oxygénothérapie hyperbare </span><span class="text2 ">
            dans </span> </h1>
        <h1 class="text la11 ">votre stratégie de soins de santé</h1>
        
        <p  class="la la1"> <span >offrez-vous un temps d’arrêt pour venir vous reposer tout en bénéficiant des nombreux bienfaits  des sessions </span>  <span> <br>en chambres hyperbares portatives! 
            </span>  </p>
            <div class="bt  la11">

  <button type="button" class="btn btn-primary bgb  mfgh" routerLink="/contact-nous" >Contactez nous</button>
          </div>


       
       
      </div>
      </div>
      
    </div>
  </div>

<div >
<h1 class="hy">Qu'est-ce que l'oxygénation hyperbare  ?.</h1>
<p class="ha">L'oxygénothérapie hyperbare (HBOT) est un traitement pour un certain nombre de conditions souvent graves qui implique de respirer 100% d'oxygène dans une chambre pressurisée. La pressurisation permet une plus grande absorption d'oxygène dans le corps et hyper oxygène le plasma sanguin d'une manière que d'autres traitements ne peuvent pas. Comme votre sang transporte l'oxygène dans tout votre corps, il aide à combattre les bactéries et stimule la libération de facteurs de croissance et de cellules souches, qui favorisent la guérison. </p>
<p class="ha">Pendant l'oxygénothérapie hyperbare (OHB), nous respirons de l'oxygène sous des pressions atmosphériques supérieures à la normale à l'intérieur de la chambre hyperbare à côté souple.</p>

<p class="ha">L'augmentation de la pression atmosphérique tout en respirant dans une atmosphère enrichie en oxygène crée un environnement dans lequel l'oxygène est dissous plus efficacement dans les liquides environnants, le plasma sanguin et les liquides céphalo-rachidiens.</p>
<p class="ha bn" >l’oxygène inhalé passe davantage dans le sang, ce qui augmente l’oxygénation des cellules.

</p>

</div>


  <div class="row maa">
    <h1 class="co">Conditions communes</h1>
    <p class="ca">le conditions pour la traitement d'oxygénothérapie hyperbare, y compris les suivantes:</p>

    <div class="col-lg-3 wo">
      <img src="../assets/img/woman.jpg" alt="" height="200" width="250"  >
      <h2 class="fw"> Concussions</h2>
      <!-- <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p> -->
      <p><a class="btn btn-secondary bt1"  routerLink="/concussion">voir les détails &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 wo">
      <img src="../assets/img/surgery.jpg" alt="" height="200" width="250" >
      <h2 class="fw"> Chirurgie</h2>
      <!-- <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p> -->
      <p><a class="btn btn-secondary bt1" routerLink="/Recuperation_chirurgicale">voir les détails &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 wo">
      <img src="../assets/img/Sudden.jpg" alt="" height="200" width="250" >
      <h2 class="fw"> surdité brusque</h2>
      <!-- <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p> -->
      <p><a class="btn btn-secondary bt1" routerLink="/surdite_brusque">voir les détails &raquo;</a></p>

    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 wo" >
      <img src="../assets/img/Chronic.jpg" alt="" height="200" width="250" >
      <h2 class="fw">La douleur chronique</h2>
      <!-- <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p> -->
      <p><a class="btn btn-secondary bt1 "routerLink="/douleur_chronique">voir les détails &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 wo">
      <img src="../assets/img/fertility.jpg" alt="" height="200" width="250" >
      <h2 class="fw"> La fertilité</h2>
      <!-- <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p> -->
      <p><a class="btn btn-secondary bt1 " routerLink="/fertilité">voir les détails &raquo; </a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 wo">
      <img src="../assets/img/Algester.jpg" alt="" height="200" width="250" >
      <h2 class="fw"> Migraines</h2>
      <!-- <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p> -->
      <p><a class="btn btn-secondary bt1" routerLink="/migraines">voir les détails &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 wo">
      <img src="../assets/img/Face.jpg" alt="" height="200" width="250" >
      <h2 class="fw"> covid 19</h2>
      <!-- <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p> -->
      <p><a class="btn btn-secondary bt1" routerLink="/covid_19">voir les détails &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3 sp">
      <p><a class="btn btn-secondary bt1  " routerLink="/blog">Voir plus de conditions <span><br></span> que nous traitons &raquo;</a></p>
    </div  ><!-- /.col-lg-4 -->
          
  </div>
  <div class="mpo">
    <img src="../assets/img/COVER1.png" alt="" width="100%" height="100%">
  </div>
    <div class="te">
  <h1 class="te">Pourquoi l'Hyperbarie Holistique ?</h1>
</div>
 
<div class="row featurette">
  <div class="col-md-4">

    <h1 class="gx">Les soins aux patients</h1>
    <p class="go">Nous croyons que nous devons prendre soin de nos patients dans leur ensemble afin de produire les meilleurs résultats de guérison. Nous avons remarqué que trop de patients sont considérés comme des numéros par le système médical et nous devons changer cela. C'est pourquoi nous sommes fiers de l'attention que nous portons à l'expérience, au parcours et au confort des patients, de la seconde où nos patients entrent dans notre espace jusqu'à leur départ. Venez voir ce que Holistic Hyperbarics fait de mieux pour ses patients en réservant dès maintenant.</p>




  </div>
  <div class="col-md-4">
    <h1 class="gx">Recherche</h1>
    <p class="go">Holistic Hyperbarics comprend que l'oxygénothérapie hyperbare est une pratique efficace et en constante amélioration. Chez Holistic Hyperbarics, nous nous assurons de suivre les dernières recherches et études menées par des médecins et des scientifiques hyperbares de premier plan dans le domaine. En ajustant et en améliorant nos protocoles pour refléter les nouvelles informations, nous sommes en mesure de nous assurer que vous recevez le plus haut niveau de soins dans notre centre.</p>




  </div>
  <div class="col-md-4">
      <h1 class="gx">Standardisation</h1>
      <p class="go">L'industrie hyperbare est décousue dans ses pratiques. Les protocoles diffèrent d'un centre à l'autre, ce qui conduit souvent à des résultats de guérison mitigés et à des expériences globales pour les patients. Holistic Hyperbarics s'efforce de créer un réseau de centre capables de fournir les mêmes soins à tous nos patients à travers le pays. Ce faisant, tous les patients Holistic Hyperbarics peuvent s'attendre et recevoir le même niveau de soins ainsi que l'expérience dans l'une de nos centre partout dans le pays.</p>
          
  </div>
